repos:
  - repo: https://github.com/astral-sh/uv-pre-commit
    # uv version.
    rev: 0.6.9
    hooks:
      - id: uv-lock

  - repo: https://github.com/ninoseki/uv-sort
    rev: v0.6.0
    hooks:
      - id: uv-sort

  - repo: https://github.com/astral-sh/ruff-pre-commit
    # Ruff version.
    rev: v0.11.1
    hooks:
      # Run the linter.
      - id: ruff
        args: [ --fix, --config, pyproject.toml ]
      # Run the formatter.
      - id: ruff-format

  - repo: https://github.com/antonbabenko/pre-commit-terraform
    rev: v1.86.0
    hooks:
      - id: terraform_fmt
        args:
          - --args=-recursive